body{
    background-color: #FFECEF;
    text-align: center;
    background: url("backgrd.jpeg") ;
    /* background-image: linear-gradient( #e4f0fc,#93c2f3,#1679e2); */
    background-size: cover;
}
html{
    height: 100%;
}
img.profile{
    border-radius: 100%;
    height: 2rem;
}
div.inst{
    margin-left: 2%;
    color: #ffffff;
}
a.navbar-link{
    text-align: right;
}
nav{

     background-color:rgba(81,89,194,0.8);
}
a.nav-link{
    color: #ffffff;
}
div.right{
    text-align: right;
}
#navbarSupportedContent{
    padding-right: 2%;
}
h1{
    padding: 3%;
    text-align: center;
    color: #251B37;
}

div.item{
    color:#251B37;
    margin-top: 2%;
    font-size: 2rem;
    font-weight: bold;
}
button.tic{
    background-color: rgba(81,89,194,0.8) ;
    /* margin-top: 2%; */
    color: white;
}
a#raise{
    color: white;
}
/* 
.gradiant{
    background-image: linear-gradient(to right,#fdd9d9,#ffa9d8,);
    border-bottom: 1px solid;
    background-color: #d866a5;

} */

.stud-details{
  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: xx-large;
    /* color: rgb(255, 255, 255); */
    /* text-shadow: 2px 2px 8px #eb6a6a; */
      
}

/* .wardenhome{

    background: url("bgimg3.png") ;

} */

.styled-table {
    border-collapse: collapse;
    /* margin: 25px auto; */
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    /* border: none */
}
.styled-table thead tr {
    background-color: #1C658C;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #f9ecec;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color:  #daf4f1;
}
.styled-table tbody tr:nth-of-type(odd) {
    background-color: #8ddcd6;
}


.styled-table tbody tr:last-of-type {
    /* border-bottom: 2px solid #8c3bf0; */
     /* border: none; */
}

.buttoncss{
    background-color: #dd6fff;
}
.changestatus{
    width: 400px;
}

select{
    display: inline-block;
    padding: 9px;
    border-radius: 5%;
    /* margin-right: 10%; */
}

.buttonbg{
    background-color: rgb(252, 252, 50);
}

.tablecss:hover{
    box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.8);
}

.tablecss{
    display: inline-block;
    padding: 0;
    margin-bottom: 40px;
    transition: box-shadow 0.3s;
    
}

th{
    text-align: center;
}

.Pending{
    width: 110px;
    background-color: rgb(241, 11, 11);
}
.In{
    width: 110px;
    background-color: rgb(246, 246, 36);
}
.Solved{
    width: 110px;
    background-color: rgb(33, 244, 33);
}

.logoutbtn{
    
    background-color:rgba(81,89,194,0.8);
    border-radius: 2%;
    margin-top: 8%;
    margin-bottom: 5px;
    border: none;
    padding: 2px; 
    padding-left: 10px;
    padding-right: 10px;
    color: #FFF;
    transition: box-shadow 0.3s;

}
.logoutbtn:hover{
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.8);
    background-color:rgba(81,89,194,0.8);
    color: white;
}
a.navbar-brand{
    color: #fff;
}